extends ../layouts/default

block css
	link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")
				
block content
	h1 Edit Product
	if enquirySubmitted
		h3 You have succesfully edited your product.
	else
		form(method='post',enctype="multipart/form-data")
			input(type='hidden', name='product_id', value='#{productDetails.id}')
			input(type='hidden', name='action', value='update')
			.form-group
				label Title
				input(type='text', name='title', value='#{productDetails.title}',required).form-control
			.form-group
				label Description
				input(type='text', name='description', rows='5', value='#{productDetails.description}').form-control
			.form-group
				label Price
				input(type='number', name='price', value='#{productDetails.price}').form-control
			.form-group
				label Product Image
				input(type='file', name='image_upload', accept='image/*').form-control
			button(type='submit').btn.btn-primary Update Product