extends ../../../layouts/default

block css
	link(rel="stylesheet", href="/js/lib/fancybox/jquery.fancybox.css")
				
block content
	h1 Change Password
	if enquirySubmitted
		h3 You have succesfully changed your password.
	else
		form(method='post')
			input(type='hidden', name='action', value='editPassword')
			.form-group
				label Old Password
				input(type='password', name='oldPassword', required).form-control
			.form-group
				label New Password
				input(type='password', name='password', required).form-control
			.form-group
				label Confirm Password
				input(type='password', name='password_confirm', required).form-control
			button(type='submit').btn.btn-primary Change password
